/* Developed By: Jhanavi Dave (LinkedIn: www.linkedin.com/in/jhanavi-dave) */
@import url('https://fonts.googleapis.com/css2?family=Askervville+SC&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

:root {
  --bakery-green: #0B5B22;
  --bakery-brown: #9C7945;
  --bakery-light-green: #4CAF50;
  --bakery-cream: #F5F5DC;
  --bakery-dark-brown: #5C4033;
  --bakery-gold: #D4AF37;
}

body {
  background-color: var(--bakery-cream);
  color: var(--bakery-dark-brown);
  font-family: 'Baskervville SC', serif;
}

h1,
h2 {
  color: var(--bakery-green);
  background-color: var(--bakery-light-green);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.bg-bakery-lilac {
  background-color: var(--bakery-cream);
}

.text-bakery-red {
  color: var(--bakery-dark-brown);
}

.bubble-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.bubble {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  background-color: var(--bakery-brown);
  color: var(--bakery-cream);
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.bubble:hover {
  background-color: var(--bakery-green);
  color: var(--bakery-gold);
}

.bg-activeCategory {
  background-color: var(--bakery-green);
  color: var(--bakery-gold);
}

.admin-login {
  text-align: center;
  margin: 20px;
}

.admin-login input {
  margin: 10px;
  padding: 5px;
}

.admin-login button {
  padding: 5px 10px;
}

.admin-orders {
  margin: 20px;
}

.admin-orders .order {
  border: 1px solid var(--bakery-brown);
  padding: 10px;
  margin-bottom: 10px;
}

.admin-orders .order.completed {
  background-color: var(--bakery-light-green);
}

.logout-button {
  background-color: var(--bakery-green);
  color: var(--bakery-cream);
  border: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.logout-button:hover {
  background-color: var(--bakery-dark-brown);
}

.logo {
  display: block;
  width: 100%;
  height: 50vh;
  cursor: pointer;
  margin: 0 auto;
  object-fit: contain;
}